$cantImages:4;
$alto:100px;
$altoPorcentaje: 100%;
$calculoPorcentaje: $altoPorcentaje * $cantImages;
$calculo: $cantImages * $alto;

.galery{
	width: 100%;
	height: 400px;
	background-color: #fff;
	// border: 2px solid rgb(86, 113, 143);
	position: relative;
	display: flex;
  justify-content: center;
	&-img{
		height: 86%;
		width: auto;
		position: absolute;
		top: 0;
		left: center;
		opacity: 0;
    transition: opacity 3s;
	}
	&-input[type=radio]{
		position: relative;
		bottom: -75%;
		// left: 12px;
		z-index: 100;
	}
	input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1){
		opacity: 1;
	}
	input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2){
		opacity: 1;
	}
	input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3){
		opacity: 1;
	}
	input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4){
		opacity: 1;
  }
}

// =============== media escritorio tv hasta 1360
@include mQ(opS){
  body{
    background-color: lawngreen;
  }
}


// =============== media escritorio tv hasta 1200
@include mQ(xlS){
  body{
    background-color: fuchsia;
  }
}

// =============== media escritorio portatil hasta 990
@include mQ(largeS){
  body{
    background-color: red;
  }
}

// =============== media escritorio normal hasta 760
@include mQ(wideS){
  .galery{
	height: 250px;
	&-img{
		height: 75%;
	}
	&-input[type=radio]{
		bottom: -65%;
	}
}
}

// =============== media escritorio pequeño hasta 480
@include mQ(mediumS){
  .galery{
    display: none;
  }
}

// =============== media escritorio tablets hasta 320
@include mQ(smallS){
  body{
    background-color: blue;
  }
}

// =============== media escritorio telefonos menores de 320
@include mQ(xsS){
  body{
    background-color: green;
  }
}

