$header-bg-op-0: rgba(237, 133, 0, 1 );
$header-bg-op-1: rgba(237, 133, 0, 1);
$header-color: $clResalte;
$header-height: 4rem;
$header-container-width: 1200px;

$logo-url: './images/logoZorzal.png';
$logo-width: 13rem;
$logo-height: 4rem;
$logo-bg-size: 13rem;

$header-area: '. logo hamburger'; // 'logo . hamburger' | '. logo hamburger' | 'hamburger . logo' | 'hamburger logo .'
$logo-position: start; //start | center | end
$hamburger-position: end; //start | end

$hamburger-color: $clTextoGen;

@mixin panel-direction($dir) {
  @if $dir == left {
    transform: translateX(-110%);
    &.is-active { transform: translateX(0); }
  } @else if $dir == right {
    transform: translateX(100%);
    &.is-active { transform: translateX(0); }
  } @else if $dir == top {
    transform: translateY(-100%);
    &.is-active { transform: translateY(0); }
  } @else if $dir == bottom {
    transform: translateY(100%);
    &.is-active { transform: translateY(0); }
  }
}

.hamburger:focus {
  outline: 0;
  border: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before { background-color: $hamburger-color; }

.u-afterFixed { padding-top: $header-height; }

.Header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: $header-height;
  transition: all .3s ease-out;
  background-color: $header-bg-op-0;
  border-bottom: 2px solid $clTextoGen;

  &.is-active { background-color: $header-bg-op-1; }

  &-container {
    margin: auto;
    max-width: $header-container-width;
    display: grid;
    grid-template: {
      columns: repeat(3, 1fr);
      rows: $header-height, auto;
      areas: $header-area
             'panel panel panel';
    }
  }
}

.Logo {
  // background-color: red;
  z-index: 10001;
  grid-area: logo;
  justify-self: $logo-position;

  &-link {
    display: block;
    width: $logo-width;
    height: $logo-height;
    text-indent: -9999px;
    border-radius: 1px solid red;
    background: {
      image: url($logo-url);
      size: $logo-bg-size;
      repeat: no-repeat;
      position: center;
    }
  }
}

.Panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  grid-area: panel;
  background-color: $header-bg-op-1;
  // background-color: violet;
  transition: transform .3s ease-out;
  @include panel-direction(left);

  &-button {
    z-index: 999;
    grid-area: hamburger;
    justify-self: $hamburger-position;
  }
}
.Menu {
  margin-top: calc(#{$header-height} + 2rem);

   &-listItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
  }

  &-link {
    display: block;
    padding: 1rem 0;
    font: {
      weight: $medium;
      size: 1.5rem;
    }
    color: $hamburger-color;
    text-decoration: none;
    transition: all .3s ease-out;
  }

  &-link:hover {
    color: $header-color;
    text-transform: uppercase;
    transition: all .5s ease-out;
    background-color: $hamburger-color;
  }
}

@media screen and (min-width: 64em) {
  .Header {
    &-container {
      grid-template: {
        columns: auto 1fr;
        rows: $header-height;
        areas: 'logo panel';
      }
    }
  }

  .Logo {
    justify-self: start; }

  .Panel {
    position: static;
    overflow-y: visible;
    transform: translate(0, 0);
    background-color: transparent;

    &-button { display: none; }
  }

  .Menu {
    margin-top: 0;
    &-item{
      // background-color: red;
    }
    &-listItem {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .clipContainer{
      width: 13rem;
      // height: 4.1rem;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      background-color: $clTextoGen;
      margin-left: -3.45rem;
      display: flex;
      justify-content: center;
    }
    .clipInterno{
      width: 12.5rem;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      background-color: $color;
      height: 3.9rem;
    }

    .clipAnim{
      // clip-path: polygon(25% 0%, 100% 0%, 100% 0, 25% 0);
      background-color: $clTextoGen;
      height: .1rem;
      transition: all .5s ease-in-out;
      // margin-top: -6rem;
    }
    // .clipAnim:hover{
    //     clip-path: polygon(25% 0%, 100% 0%, 100% 0, 25% 0);
    //     animation: aniClipPath 2s infinite;
    //   }
    &-link:hover{
      border-top: medium solid $header-color;
      transition: all .5s ease-in-out;
      height: 4.2rem;
      background-color: $hamburger-color;
      // .clipAnim{
        // clip-path: polygon(25% 0%, 100% 0%, 100% 0, 25% 0);
        // animation: aniClipPath 2s infinite;
      // }

    }
  }
}
