footer.piePagina
  .piePagina-copyright
    p.t1 copyright &#169 2017 // Todos los derechos reservados a #{empresa}// Desarrollado por CreativeCode
    p.t2 Villavicencio - Meta
  .piePagina-logoFinal
    img.imgFinal(src="./images/logo.png" width="20%")
