header.hero#inicio
  .hero-logo
    img(src="./images/Escudo.png" alt="Logo Creative Code" height="200")
  .hero-title
    h1.hero-title_principal OXFORD
    h1.hero-title_secondary GRUPO 2
    h3.hero-title_emphasis Colegio Bilingüe
  +phraseHero('DANDO UNA PATADA A LA SILABA "IM",', 'de la palabra IMPOSIBLE cualquiera estará seguro de salir adelante', '"Baden Powell"')
