
//GENERALES
//path
$path: '../../images/';

//Tamaño de fuente para el proyecto
//$fsBase:62.5%;
$fsBase:16px;

//alto general
$hBase:100vh;

//fuentes
// $ftIncosolata:'Inconsolata', monospace;
// $ftyanone:'Yanone Kaffeesatz', sans-serif;
// $ftRaleway:'Raleway', sans-serif;

// grosor
$ligth:300;
$normal:400;
$medium:500;
$bold:700;

//Familia de fuentes
$ftroboto: 'Roboto', sans-serif;
$ftOswald: 'Oswald', sans-serif;

// Variables de color
$color:#ef7726;
$secundario:#cccc33;
$resalte: #666666;
// $resalte: rgb(184, 214, 64);
$clAlterno: #cCcc;
