//- variables generales del proyecto
-empresa='scout oxford'
-pages=['Inicio', 'Institucional', 'Actividades', 'Ramas Scout', 'Contacto']
-sites=['#inicio', '#institucional', '#actividades', '#grupos', '#contacto']
-services=['manada', 'tropa', 'comunidad', 'clan']
-serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
-servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='inicio'
-siteTitle= empresa
-description='Souts una vez, scouts por siempre'
-sizeImgServices=300
