//- variables generales del proyecto
-empresa='Refugio del Zorzal'
-pages=['Inicio', 'Proyecto', 'Ubicación', 'Contacto']
-sites=['#inicio', '#proyecto', '#ubicacion', '#contacto']
-services=['manada', 'tropa', 'comunidad', 'clan']
-serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
-servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle=empresa
//- -siteTitle= empresa
-description='Apartamentos en edificio inteligente de 2 y 3 habitaciones con los mejores espacios sostenibles para su confort en el barrio jj vargas junto al parque salitre en Bogotá desde 73.76m2 hasta 81.11m2'
-sizeImgServices=300
