body {
  .contactContainer {
    // background-color: blueviolet;
    &-address {
      // background-color: palevioletred;
      background-image: url('./images/logo.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 220px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .contactWrap{
        // background-color: chartreuse;
        width: 100%;
        display: flex;
        flex-direction: column;
        &-title{
          // background-color: chocolate;
          width: 90%;
          text-align: center;
        }
        &-phones{
          // background-color: darkcyan;
          width: 90%;
          background-color: $color;
          height: 7rem;
          display: flex;
          justify-content: center;
          align-content: center;
          text-align: center;
          color: $clTextoGen;
        }
        &-icon {
          // background-color: darkslateblue;
          width: 40%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 6.5rem;
        }
        &-text {
          // background-color: deeppink;
          width: 60%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          p{
            margin-left: 2rem;
          }
        }
      }
      .url{
        // background-color:olivedrab;
        width: 90%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        p{
          font-size: 1.5rem;
        }

      }
    }
    &-form {
      // background-color: #ed8555;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        // background-color: green;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $clBase;
        font-weight: bold;
      }
      .datos {
        // background-color: plum;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex-wrap: wrap;
        label{
          width: 100%;
          margin: .5rem 0 .5rem -2rem;
        }
        input{
          background-color: #cccc;
          height: 2rem;
          width: 90%;
          margin-left: 2rem;
        }
      }
      .mensaje {
        // background-color: antiquewhite;
        width: 100%;
        margin: .5rem 0 .5rem -2rem;
        display: flex;
        flex-direction: column;
        .tArea {
          background-color: #cccc;
          width: 90%;
          margin-left: 2rem;
        }
      }
      .buttonContainer {
        margin: 1rem 0;
        @include centerFlex;
        button{
          padding: .5rem 1.5rem;
          background-color: $color;
        }
      }
    }
  }
}


// =============== media escritorio tv 1480
@include mQ(flS){
  body{
    // background-color: brown;
  }
}


// =============== media escritorio tv hasta 1360
@include mQ(opS){
  body{
    // background-color: lawngreen;
  }
}


// =============== media escritorio tv hasta 1200
@include mQ(xlS){
  body{
    // background-color: red;
  }
}

// =============== media escritorio portatil hasta 990
@include mQ(largeS){
  body{
    // background-color: royalblue;
  }
}

// =============== media escritorio normal hasta 760
@include mQ(wideS){
  body {
    // background-color: olive;
    .contactContainer {
      &-address {
        .contactWrap{
          // background-color: orchid;
          margin-top: -1rem;
          margin-bottom: 1rem;
          &-title{
            // background-color: chocolate;
            // width: 90%;
            // text-align: center;
          }
          &-phones{
            // background-color: darkcyan;
            // width: 90%;
            // background-color: $color;
            // height: 11rem;
            // display: flex;
            // justify-content: center;
            // align-content: center;
            // text-align: center;
            // color: $clTextoGen;
          }
          &-icon {
            // background-color: darkslateblue;
            width: 30%;
            // display: flex;
            // justify-content: flex-end;
            // align-items: center;
            font-size: 5.5rem;
          }
          &-text {
            // background-color: deeppink;
            width: 70%;
            // display: flex;
            // justify-content: center;
            // align-items: flex-start;
            // flex-direction: column;
            p{
              margin-left: 2rem;
            }
          }
        }
        .url{
          // background-color:olivedrab;
          // width: 90%;
          // margin-top: 1%;
          margin-bottom: 1rem;
          // display: flex;
          // justify-content: center;
          p{
            font-size: 1.2rem;
          }

        }
      }
      &-form {
        // background-color: #ed8555;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
          // background-color: green;
          margin-left: 6%;
          // width: 90%;
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // align-items: center;
          // color: $clBase;
          // font-weight: bold;
        }
        .datos {
          // background-color: plum;
          // width: 100%;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          // flex-wrap: wrap;
          label{
            // width: 100%;
            margin: .2rem 0 .2rem -2rem;
          }
          input{
            // background-color: #cccc;
            // height: 2rem;
            // width: 90%;
            // margin-left: 2rem;
          }
        }
        .mensaje {
          // background-color: antiquewhite;
          // width: 100%;
          margin: .2rem 0 .2rem -2rem;
          // display: flex;
          // flex-direction: column;
          .tArea {
            // background-color: #cccc;
            // width: 90%;
            // margin-left: 2rem;
          }
        }
        .buttonContainer {
          margin: .5rem 0;
          // @include centerFlex;
          button{
            padding: .5rem 1.5rem;
            // background-color: $color;
          }
        }
      }
    }
  }
}

// =============== media escritorio pequeño hasta 760
@include mQ(mediumS){
  body{
    // background-color: hotpink;
  }
}

// =============== media escritorio tablets hasta 480
@include mQ(smallS){
  body{
    // background-color: indigo;
  }
}

// =============== media escritorio pequeño hasta 320
@include mQ(mediumS){
  body{
    // background-color: yellow;
  }
}

// =============== media escritorio telefonos menores de 320
@include mQ(xsS){
  body{
    // background-color: green;
  }
}
