.piePagina{
  background-color: $color;
  a{
    color: $clTextoGen;
  }
  &-copyright{
    // background-color: rgb(37, 167, 207);
    @include centerFlex;
    flex-direction: column;
    color: $clTextoGen;
    .t1{
      margin-top: .5rem;
      text-align: center;
    }
    .t2{
      text-align: center;
    }
  }
  &-logoFinal{
    // background-color: rgb(10, 94, 133);
    @include centerFlex;
  }
  span{
    color: $clResalte;
    font-weight: $medium;
    &:hover{
      color: $secundario;
    }
  }
}

// =============== media escritorio pequeño hasta 320
@include mQ(mediumS){
  .piePagina{
    a{
    }
    &-copyright{
      .t1{
      }
      .t2{
        text-align: center;
      }
      .t3{
        text-align: center;
      }
    }
  }
}

// =============== media escritorio telefonos menores de 320
@include mQ(xsS){
  body{
    // background-color: green;
  }
}
