body {
  .headerM {
    background-color: #ed8500;
    &-slider{
      // background-color: #ed8500;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
    }
    &-project{
      .titleInfo{
        background-color: rgb(237, 133, 0);
        margin-top: -2.5rem;
        color: $clTextoGen;
        text-align: center;
        display: flex;
        justify-content: center;
        span{
          font-size: 0.001rem;
        }
      }
      &--infoBox{
        // background-color: aliceblue;
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        .iBox{
          // background-color: fuchsia;
          width: 50%;
          height: 35vh;
          a{
            text-decoration: none;
            color: $clTextoGen;
          }
          &-container{
            display: flex;
            justify-content: space-around;
            margin: 2rem 1rem 2rem 1rem;
            cursor: pointer;
            &:hover a{
                color: $secundario;
            }

            .icon{
              height: 90px;
              width: 70%;
              background-image: url('./images/icono.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
            .text{
              color: $clTextoGen;
              text-align: center;
            }
          }
        }
        .b01{
          background-image: url('./images/c01.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 95%;
          object-fit: contain;
        }
        .b02{
          background-image: url('./images/c02.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 95%;
          object-fit: contain;
        }
      }
    }

  }
}
