body {
  .location {
    &-map {
      // background-color: lightcoral;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
        iframe{
          width: 90%;
          height: 80%;
        }
    }
    &-mapText {
      // background-color: crimson;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .locationWrap{
        // background-color: darkcyan;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .location-address{
        background-color: $color;
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        color: $clTextoGen;
      }
      .location-icon {
        // background-color: red;
        width: 15%;
        padding-left: 1rem;
        // text-align: right;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5.5rem;
      }
      .location-text {
        // background-color: darkmagenta;
        width: 85%;
        padding: 1rem 0 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }
}

// =============== media escritorio tv 1480
@include mQ(flS){
  body{
    // background-color: brown;
  }
}


// =============== media escritorio tv hasta 1360
@include mQ(opS){
  body{
    // background-color: lawngreen;
  }
}


// =============== media escritorio tv hasta 1200
@include mQ(xlS){
  body{
    // background-color: red;
  }
}

// =============== media escritorio portatil hasta 990
@include mQ(largeS){
  body {
    // background-color: darkslateblue;
    .location {
      &-map {
          iframe{
            width: 90%;
            height: 70%;
          }
      }
    }
  }
}

// =============== media escritorio normal hasta 760
@include mQ(wideS){
  body {
    // background-color: olive;
    .location {
      &-map {
          iframe{
            width: 90%;
            height: 60%;
          }
      }
    }
  }
}

// =============== media escritorio pequeño hasta 760
@include mQ(mediumS){
  body{
    // background-color: hotpink;
  }
}

// =============== media escritorio tablets hasta 480
@include mQ(smallS){
  body{
    // background-color: indigo;
  }
}

// =============== media escritorio pequeño hasta 320
@include mQ(mediumS){
  body{
    // background-color: yellow;
  }
}

// =============== media escritorio telefonos menores de 320
@include mQ(xsS){
  body{
    // background-color: green;
  }
}
