.mainContainer{
  // background-color: green;
  &-infoBox{
    // background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    .infoBoxGrap{
      display: flex;
      justify-content: center;
    }
    .image{
      background-size: cover;
      background-repeat: no-repeat;
      width: 25rem;
      height: 15rem;
    }
    .content{
      text-align: center;
      margin-top: 1rem;
    }
    .iBG01{
      // background-color: lawngreen;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .image{
        background-image: url('./images/c03.png');
      }
    }
    .iBG02{
      // background-color: lightcoral;
      margin-right: 1rem;
      .image{
        background-image: url("./images/c01.png");
      }
    }
    .iBG03{
      // background-color: lightseagreen;
      .image{
        background-image: url("./images/c04.png")
      }
    }
  }
  &-descrip{
    // background-color: indianred;
    .titleDescrip{
      color: $clTextoGen;
      text-align: center;
      background-color: $resalte;
    }
    .descripciones{
      // background-color: midnightblue;

      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .listDescrip{
        margin: .5rem 0;
        display: flex;
        list-style: none;
        .fa{
          color: $color;
          font-size: 1.25rem;
          margin-right: .5rem;
        }
        li{
          padding: 0 .5rem;
        }
      }
    }
  }
  &-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-info{
    background-color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    .vigilado{
      margin-right: -2.5rem;
    }
    .patrocinadores{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imPat{
      margin: 0 3rem;
      h4{
        text-align: center;
        margin-bottom: .5rem;
        color: $clTextoGen;
      }
    }
    .i01{
      // background-color: yellowgreen;
      display: grid;
      grid-template-rows: 60% 40%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .fiduciaria{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: .5rem;
    }
  }
}
