//- extends ../includes/layout

//- append config
//-   -pageTitle= "Tropa Camelot"

//- append config
//-   -sites=['./', 'index.html#institucional', 'index.html#actividades', 'index.html#grupos', 'index.html#contacto']

//- block content
//-   section.site-info.camelot
//-     .spacing
//-     .site-info-imagesWrap
//-       .slider
//-         +slider([
//-           ['ts1.jpg', 'Descripcion de la imagen01', 'El caption para esta imagen01'],
//-           ['ts2.jpg', 'Descripcion de la imagen02', 'El caption para esta imagen02'],
//-           ['ts3.jpg', 'Descripcion de la imagen03', 'El caption para esta imagen03'],
//-           ['ts4.jpg', 'Descripcion de la imagen04', 'El caption para esta imagen04']
//-         ])
//-       .imgOpc
//-     .site-info-infoWrap
//-       +headerTitle('RAMAS', 'SCOUT')
//-       .btnClose
//-         a(href="index.html#grupos") #[i.fa.fa-window-close]
//-       +boxInfoOp3('Camelot es el nombre de la fortaleza y reino del legendario Rey Arturo, desde donde libró muchas de las batallas que jalonaron su vida y su gran caballería. Su situación concreta se desconoce y podría ser una provincia romana británica ficticia de la Bretaña post-romana. Dado que la ubicación de Camelot sigue siendo un misterio, la verdad sobre ella si es que existió aún se desconoce. Los scout que hacen parte de la tropa son los chicos de 11 a 15 años de edad pero en nuestro grupo son desde el grado sexto hasta el grado noveno.', 'TROPA', 'CAMELOT')
//-       .infoGeneral
//-         p El escudo de la tropa es de color Verde.
//-         p Lleva en su interior las torres del castillo de Camelot que significa la fuerza de voluntad y la caballerosidad.
//-         p En la parte superior el casco que llevan todos los caballeros de Camelot y cuatro laureles representan la mesa redonda.
