extends ../includes/layout

append config
  -pageTitle= "Manada Hathi"

append config
  -sites=['./', 'index.html#institucional', 'index.html#actividades', 'index.html#grupos', 'index.html#contacto']

block content
  section.site-info.hathi
    .spacing
    .site-info-imagesWrap
      .slider
        +slider([
          ['2.jpg', 'El trabajo en euipo', 'El caption para esta imagen01'],
          ['3.jpg', 'Descripcion de la imagen02', 'El caption para esta imagen02'],
          ['4.jpg', 'Descripcion de la imagen03', 'El caption para esta imagen03'],
          ['5.jpg', 'Descripcion de la imagen04', 'El caption para esta imagen04']
        ])
      .imgOpc
    .site-info-infoWrap
      +headerTitle('RAMAS', 'SCOUT')
      .btnClose
        a(href="index.html#grupos") #[i.fa.fa-window-close]
      +boxInfoOp3('Hathi es un personaje animal creado por Rudyard Kipling para las historias de El libro de la selva (1894). Hathi es un varón elefante que vive en la selva. Y es cabeza de la tropa de elefantes. Él es uno de los animales más viejos de la selva y representa orden, dignidad y obediencia a la ley de la selva. Los scout que hacen parte de la manada son los chicos de 6 a 11 años de edad pero en nuestro grupo son desde el grado primero hasta el grado quinto.', 'MANADA', 'HATHI')
      .infoGeneral
        p El escudo de la manada es de color amarillo.
        p Lleva en su interior la figura del elefante Hathi
        p Que representa orden, dignidad y obediencia a la ley de la manada.
        p Las cinco estrellas representan los grados que conforman la manada.
