//- extends ../includes/layout

//- append config
//-   -pageTitle= "Comunidad Wallace"

//- append config
//-   -sites=['./', 'index.html#institucional', 'index.html#actividades', 'index.html#grupos', 'index.html#contacto']

//- block content
//-   section.site-info.wallace
//-     .spacing
//-     .site-info-imagesWrap
//-       .slider
//-         +slider([
//-           ['co1.jpg', 'Descripcion de la imagen01', 'El caption para esta imagen01'],
//-           ['co2.jpg', 'Descripcion de la imagen02', 'El caption para esta imagen02'],
//-           ['co3.jpg', 'Descripcion de la imagen03', 'El caption para esta imagen03'],
//-           ['co4.jpg', 'Descripcion de la imagen04', 'El caption para esta imagen04']
//-         ])
//-       .imgOpc
//-     .site-info-infoWrap
//-       +headerTitle('RAMAS', 'SCOUT')
//-       .btnClose
//-         a(href="index.html#grupos") #[i.fa.fa-window-close]
//-       +boxInfoOp3('Soldado escocés que dirigió a su país contra la ocupación inglesa del Rey Eduardo I de Inglaterra en las Guerra de la independencia de Escocia. Era de origen humilde. El 11 de septiembre de 1297, Wallace arrasó por completo al ejército inglés comandado por el Conde de Surrey en la Batalla de Stirling Bridge. El ejército inglés estaba formado por 300 caballeros pesados y 10.000 hombres de infantería ligera. Cuando regresó de Stirling, Wallace fue nombrado Guardián de Escocia. Los scout que hacen parte de la comunidad son los chicos de 15 a 18 años de edad pero en nuestro grupo son del grado decimo hasta el grado once.', 'COMUNIDAD', 'WALLACE')
//-       .infoGeneral
//-         p El escudo de la Comunidad es de color Azul.
//-         p Lleva en su interior un escudo de batalla, un casco y dos espadas.
//-         p Representan los instrumentos de batalla que tenia Wallace, significan el esfuerzo y el sacrificio para lograr las metas.
