body{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4 1fr);

  .infoApto{
    // background-color: orangered;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
    // .boxMenu{
    //   // background-color: $color;
    //   grid-row: 1;
    //   grid-column: 1 / -1;
    // }
    &-image{
      // background-color: orchid;
      width: 100%;
      grid-column: 1;
      grid-row: 2;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      .planos{
        width: 100%;
        height: 100%;
        // background-color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 90%;
          height: 70%;
        }
      }
      h3{
        // margin-top: 4rem;
        text-align: center;
      }
    }
    &-descrip{
      // background-color: palegreen;
      grid-column: 2;
      grid-row: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .headerDescrip{
        // background-color: $color;
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $secundario;

      }
      .descripGen{
        height: 55%;
        margin: 1rem;

      }
      .descripArea{
        height: 30%;
        margin: 1rem;
      }
      li{
        list-style: none;
        margin-top: 1rem;
      }
      .fa{
        color: $color;
      }
    }
  }
}

// =============== media escritorio tv 1480
@include mQ(flS){
  body{
    // background-color: brown;
  }
}


// =============== media escritorio tv hasta 1360
@include mQ(opS){
  body{
    // background-color: lawngreen;
  }
}


// =============== media escritorio tv hasta 1200
@include mQ(xlS){
  body{
    // background-color: red;
  }
}

// =============== media escritorio portatil hasta 990
@include mQ(largeS){
  body{
    // background-color: cadetblue;
  }
}

// =============== media escritorio normal hasta 760
@include mQ(wideS){
    // background-color: crimson;
}

// =============== media escritorio pequeño hasta 760
@include mQ(mediumS){
  body{
    // background-color: purple;
    height: 200vh;

    .infoApto{
      grid-template-columns: 1fr;
      grid-template-rows: 1% 59% 40%;
      &-image{
        grid-column: 1;
        grid-row: 2 / 3;
        .planos{
          margin-top: -4rem;
          height: 80%;
          img{
            width: 90%;
            height: 60%;
          }
        }
        h3{
          margin-top: -4rem;
        }
      }
    }
  }
}


// =============== media escritorio tablets hasta 480
@include mQ(smallS){
  body{
    // background-color: magenta;
    height: 200vh;

    .infoApto{
      grid-template-columns: 1fr;
      grid-template-rows: 1% 59% 40%;
      &-image{
        grid-column: 1;
        grid-row: 2 / 3;
        .planos{
          margin-top: -4rem;
          height: 80%;
          img{
            // width: 90%;
            // height: 60%;
          }
        }
        h3{
          margin-top: -4rem;
        }
      }
    }
  }
}

// =============== media escritorio pequeño hasta 320
@include mQ(mediumS){
  body{
    // background-color: darkblue;
    height: 200vh;

    .infoApto{
      grid-template-columns: 1fr;
      grid-template-rows: 1% 59% 40%;
      // }
      &-image{
        grid-column: 1;
        grid-row: 2 / 3;
        .planos{
          margin-top: -4rem;
          height: 80%;
          img{
            width: 90%;
            height: 50%;
          }
        }
        h3{
          margin-top: -4rem;
        }
      }
      &-descrip{
        // background-color: palegreen;
        grid-column: 1;
        grid-row: 3 / 4;
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        // flex-direction: column;
        .headerDescrip{
          // background-color: $color;
          // height: 15%;
          // width: 100%;
          // display: flex;
          // justify-content: space-around;
          // align-items: center;
          // color: $secundario;

        }
        .descripGen{
          height: 55%;
          margin: 1rem;

        }
        .descripArea{
          height: 30%;
          margin: 1rem;
        }
        li{
          list-style: none;
          margin-top: 1rem;
        }
        .fa{
          color: $color;
        }
      }
    }
  }
}

// =============== media escritorio telefonos menores de 320
@include mQ(xsS){
  body{
    // background-color: darkblue;

    .infoApto{
      &-image{
        grid-column: 1;
        grid-row: 2 / 3;
        .planos{
          margin-top: -4rem;
          height: 80%;
          img{
            width: 80%;
            height: 40%;
          }
        }
        h3{
          margin-top: -4rem;
        }
      }
      &-descrip{
        // background-color: palegreen;
        grid-column: 1;
        grid-row: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .headerDescrip{
          // background-color: $color;
          height: 15%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: $secundario;

        }
        .descripGen{
          height: 55%;
          margin: 1rem;

        }
        .descripArea{
          height: 30%;
          margin: 1rem;
        }
        li{
          list-style: none;
          margin-top: 1rem;
        }
        .fa{
          color: $color;
        }
      }
    }
  }
}
