body{
  // background-color: gray;
  display              : grid;
  grid-template-columns: repeat(8, 1fr);
  .headerM{
    height: 100vh;
    grid-column: 1 / -1;
    // background-color: blue;
    // display: grid;
    // grid-template-rows: 60% 40%;
    // justify-content: center;
    // align-items: center;
    //   &-slider{
    //     grid-row: 1 / 2;
    //   }
    //   &-project{
    //     grid-row: 2 / 3;
    //   }
  }
  .mainContainer{
    height: 200vh;
    grid-column: 1 / -1;
  }
  .location{
    height: 100vh;
    grid-column: 1 / -1;
  }
  .contactContainer{
    height: 100vh;
    grid-column: 1 / -1;
  }
  footer{
    height: 50vh;
    grid-column: 1 / -1;
  }
}
