body{
  // background-color: gray;
  display              : grid;
  grid-template-columns: repeat(8, 1fr);
  .headerM{
    height: 100vh;
    grid-column: 1 / -1;
    background-color: aliceblue;
  }
  .mainContainer{
    height: 100vh;
    grid-column: 1 / -1;
  }
  .location{
    height: 100vh;
    grid-column: 1 / -1;
  }
  .contact{
    height: 100vh;
    grid-column: 1 / -1;
  }
  footer{
    height: 50vh;
    grid-column: 1 / -1;
  }
}
