body {
  .mainContainer {
    // background-color: gold;
    display: grid;
    grid-template-rows: 5% 30% 10% 40% 15%;
    &-infoBox{
      grid-row: 2 / 3;
    }
    &-descrip{
      grid-row: 3 / 4;
    }
    &-video{
      grid-row: 4 / 5;
    }
    &-info{
      grid-row: 5 / 6;
    }
  }
}
